<template>

    <script type="module">
        /** @typedef {{element: HTMLElement}} parameter */

        /** 
         * @param {parameter}
        */
        export default function ({ element }) {
/*             const links = element.querySelectorAll('a');

            links.forEach(el => {
                const component = el.getAttribute("component");
                if (component) {

                    el.onclick = (ev) => {
                        ev.preventDefault();
                        router.component = component;
                    };
                }
            }); */
        }

    </script>

    <style>
        * {
            box-sizing: border-box;
        }

        :host {
            display: inline-block;
            width: 100%;
            height: calc(1.5em + 20px);
            line-height: 1;
        }

        nav {
            background-color: #333;
            padding: 10px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;

            position: fixed;
            right: 0;
            left: 0;
            top: 0;
        }

        nav h1 {
            color: white;
            margin: 0;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        nav ul li {
            display: inline;
            margin-left: 10px;
        }

        nav ul li a {
            color: white;
            text-decoration: none;
        }
    </style>
    <nav>
        <h1>PureJS SPA</h1>
        <ul>
            <li><a href="#/" component="spa-main">בית</a></li>
            <li><a href="#/about" component="spa-about">אודות</a></li>
            <li><a href="#/todo" component="spa-todo">משימות</a></li>
        </ul>
    </nav>
</template>