<template>

    <script type="module">

    </script>

    <style>
        * {
            box-sizing: border-box;
        }

        :host {
            display: inline-block;
            width: 100%;
            height: calc(1.5em + 20px);
            line-height: 1;
        }

        nav {
            background-color: #333;
            padding: 10px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;

            position: fixed;
            right: 0;
            left: 0;
            top: 0;
        }

        nav h1 {
            color: white;
            margin: 0;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        nav ul li {
            display: inline;
            margin-left: 10px;
        }

        nav ul li a {
            color: white;
        }

        a {
            text-decoration: none;
        }
    </style>
    <nav>
        <a href="#/">
            <h1>PureJS SPA</h1>
        </a>
        <ul>
            <li><a href="#/">בית</a></li>
            <li><a href="#/about">אודות</a></li>
            <li><a href="#/todo">משימות</a></li>
        </ul>
    </nav>
</template>